doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='import', href='/elements/elements-index.build.html')
    script(src='/js/app.js')
  body
    block content
