doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/styles.css')
    block polybuild
    script(src='/js/app.js')
  body
    block content
